body{
    color: black;
    text-align: center;
    font-family: Arial;
    background-color:#00FFFF
    ;
}
#container
{
width: 70%;
padding: 1em;
text-align: left;
border-right-width: 1px solid;
}
#container h1 
{
    height: 2px;
}